Data/Responses/Delivery/Data/param.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="param">
        <xs:complexType>
            <xs:all>
                <xs:element name="key" type="xs:string"/>
                <xs:element name="value" type="xs:string" minOccurs="0"/>
                <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>