Data/Responses/Delivery/Data/recipient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="person.xsd"/>
    <xs:include schemaLocation="phone.xsd"/>
    <xs:complexType name="recipient">
        <xs:all>
            <xs:element name="fio" type="person"/>
            <xs:element name="phones">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="phone" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>