Data/Responses/Delivery/Data/shelf_lives.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="shelf_life.xsd"/>
    <xs:complexType name="shelfLives">
        <xs:all>
            <xs:element name="days" type="shelfLife" minOccurs="0"/>
            <xs:element name="percentage" type="shelfLife" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>