Data/Responses/Delivery/Data/unit_id.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name="unitId">
        <xs:complexType>
            <xs:all>
               <xs:element name="article" type="xs:string"/>
               <xs:element name="vendorId" type="xs:int"/>
               <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>