Data/Schemas/Models/Delivery/doc_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="param.xsd"/>
    <xs:complexType name="docData">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="xs:int"/>
            <xs:element name="data" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="param" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>