Data/Schemas/Models/Delivery/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="person">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="patronymic" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>