Data/Schemas/Models/Delivery/unit_id.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="unitId">
        <xs:all>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="vendorId" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
        </xs:all>
    </xs:complexType>
</xs:schema>