Data/Schemas/Common/Delivery/custom_translation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="customsTranslation">
        <xs:all>
            <xs:element name="languageCode" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="categoryName" type="xs:string"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
