Data/Schemas/Common/Delivery/phone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="phone">
        <xs:all>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="additional" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>