Data/Schemas/Common/Delivery/resource_id.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="resourceId">
        <xs:all>
            <xs:element name="yandexId" type="xs:string" minOccurs="0"/>
            <xs:element name="partnerId" type="xs:string" minOccurs="0"/>
            <xs:element name="deliveryId" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>