Data/Responses/Schemas/Common/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="service">
        <xs:all>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="isOptional" type="xs:boolean"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>