Data/Responses/Schemas/Movement/request_state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="error_pair.xsd"/>
    <xs:element name="requestState">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errorCodes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="errorCode" type="errorPair" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
