Data/Schemas/Movement/car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="car">
        <xs:all>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>