Data/Schemas/Movement/contractor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="contractor">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
        </xs:all>
    </xs:complexType>
</xs:schema>