Data/Schemas/Common/contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contract">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>