Data/Schemas/Common/inbound_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="resource_id.xsd"/>
    <xs:include schemaLocation="status.xsd"/>
    <xs:complexType name="inboundStatus">
        <xs:all>
            <xs:element name="inboundId" type="resourceId"/>
            <xs:element name="status" type="status"/>
        </xs:all>
    </xs:complexType>
</xs:schema>