Data/Schemas/Models/Common/outbound_status_history.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="resource_id.xsd"/>
    <xs:include schemaLocation="status.xsd"/>
    <xs:complexType name="outboundStatusHistory">
        <xs:all>
            <xs:element name="outboundId" type="resourceId"/>
            <xs:element name="history">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="status" type="status" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>