Data/Schemas/Models/Common/remaining_lifetimes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="shelf_lives.xsd"/>
    <xs:complexType name="remainingLifetimes">
        <xs:all>
            <xs:element name="inbound" type="shelfLives"/>
            <xs:element name="outbound" type="shelfLives"/>
        </xs:all>
    </xs:complexType>
</xs:schema>