Data/Schemas/Models/Common/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="status_code.xsd"/>
    <xs:complexType name="status">
        <xs:all>
            <xs:element name="statusCode" type="statusCode"/>
            <xs:element name="setDate" type="xs:dateTime"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
</xs:schema>